@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  font-family: var(--font-family);
  background-color: var(--surface-ground);
  color: var(--text-color);
  padding: 0;
  margin: 20px;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-button {
  background: white;
  color: #2196f3;
  font-weight: 600;
}

.p-selectbutton .p-button.p-highlight {
  background-color: rgb(196, 193, 193);
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .date-input-container {
    display: flex;
    padding: 10px;
    width: 100%;

    .clear-button-container {
      margin-right: 10px;
    }

    .calendar-container {
      margin-left: auto;
    }
  }

  .table-container {
    flex: 1;
  }

  .view-container {
    padding: 30px;
  }

  .paginator-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .select-theme-button {
    margin-top: 10px;
  }
  .th-space {
    display: flex;
    justify-content: space-between;
  }
  th {
    width: 200px;
  }
}
