@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  font-family: var(--font-family);
  background-color: var(--surface-ground);
  color: var(--text-color);
  padding: 0;
  margin: 20px;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container .th-space i.pi-sort-alt:hover {
  color: gray;
  cursor: pointer;
}
.p-button {
  font-weight: 600;
}

.p-selectbutton .p-button.p-highlight {
  outline: none;
  background: white;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .date-input-container {
    display: flex;
    padding: 10px;
    width: 100%;

    .clear-button-container {
      margin-right: 10px;
    }

    .calendar-container {
      margin-left: auto;
    }
  }

  .table-container {
    flex: 1;
  }

  .view-container {
    margin-left: 22px;
    margin-bottom: 8px;
  }

  .paginator-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .select-theme-button {
    margin-top: 10px;
  }

  .th-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  th {
    width: 200px;
    vertical-align: middle;
    text-align: right;
  }
}
